.basic-table-container,
.advance-table-container {
  font-size: 14px;
  background-color: white;
  width: 90%; 
  padding: 20px;
  margin: 25px auto 0;
  border-top: 30px solid rgb(8, 133, 211);
  box-shadow: 0 0 0px 2px rgba(8, 133, 211);
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  height: 450px;
}


.basic-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.basic-table th, 
.basic-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #cccccc;
  text-align: center;
}


.advance-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.advance-table th, 
.advance-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #cccccc;
  text-align: center;
}

.editbutton {
   background-color: rgb(8, 133, 211);
   color: white;
   padding: 5px 5px; 
   border: none;
   cursor: pointer;
   margin: 10px;
}
 
.deletebutton {
   background-color: rgb(235, 45, 11);
   color: white;
   padding: 5px 5px; 
   border: none;
   cursor: pointer;
   margin: 10px;
}